body {
  font-family: 'Open Sans', sans-serif;


}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  color: black;
}

a {
  color: yellow;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: yellow;
  text-decoration: none;
}


.navbar-transparent {
  background-color: white;
  padding: 20px;
}

.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

/* footer */

.footer {
  
  background-color: black;
  color:white;
  padding:100px;
}

.footer a {
  color: #cccccc;
}

.footer a:hover {
  color: white;
}

.social a {
  font-size: 24px;
}

.social a:hover {
  text-decoration: none;
}




.vertical-spacer {
  height: 8em;
}



.btn-red{
  color:white;
  padding:15px;
  border-radius: 2px;
  background:#9C0000;
  border: 1px solid white;
  transition: background 1s ease;
  margin-bottom:2em;
  

}

.btn{
	padding-bottom: 50px;
}

.btn-red:hover {
  opacity: 1;
  background: #720202;
  text-decoration: none;
  
  color: white;
}

/* wrapper */

.wrapper{
  background-image: url(image/Home_page2.jpg) ;
  background-size:cover;
  height:800px;
  text-align:center;
  padding:150px;
  color:white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1);

}


.content h1{
	 font-size: 72px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: normal;
	
	}



.content h1{
	 
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: normal;
  text-align: center;
  font-size: 65px;
  color: white;
	
	}


.content h2{
	  display: inline-block;
  padding-bottom: 100px;
  margin-bottom: 2em;

	
}

.accroche{

	text-align: center;
	background-color: grey;
  color:white;
  padding:50px;


}


.accroche h2{

  color:white;
  


}

.nos-service{
	text-align: center;
}

.nos-service h2{
	text-align: center;
	color:grey;
}

.img-circle{
	width: 300px;
	height: 300px;
}

.nos-service img{
	width: 300px;
	
}

.nos-service h3{
	font-weight: bold;
}

.comment-ca-marche{

	background-color:#ECE7E4;
	color: white;
	
}

.img-circle{

	border: 3px solid black;
	border-radius: 50%;
	padding: 8px;
}
